<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="aoitemspath" value="D://Funcom/AO Tools/AOS3_CP_EI.NET2/aoitems.db"/>
	<add key="iconspath" value="D://Funcom/AO Tools/AOS3_CP_EI.NET2/icons"/>
	<add key="simpleLoX" value="true"/>
	<add key="simpleImp" value="true"/>
	<add key="itemLimit" value="true"/>
	<add key="itemNum" value="20"/>
	<add key="isDBPreset" value="true"/>
	<add key="presetDB" value="0"/>
	<add key="customDB" value=""/>
	<add key="93" value="ChemicalAC"/>
	<add key="95" value="ColdAC"/>
	<add key="92" value="EnergyAC"/>
	<add key="97" value="FireAC"/>
	<add key="91" value="MeleeAC"/>
	<add key="96" value="PoisonAC"/>
	<add key="90" value="ProjectileAC"/>
	<add key="94" value="RadiationAC"/>
	<add key="137" value="Adventuring"/>
	<add key="156" value="RunSpeed"/>
	<add key="124" value="Treatment"/>
	<add key="123" value="FirstAid"/>
	<add key="154" value="DodgeRanged"/>
	<add key="153" value="DuckExp"/>
	<add key="155" value="EvadeClsC"/>
	<add key="45" value="BeltSlots"/>
	<add key="181" value="MaxNCU"/>
	<add key="318" value="NPCostModifier"/>
	<add key="360" value="Scale"/>
	<add key="1" value="MaxHealth"/>
	<add key="221" value="MaxNanoEnergy"/>
	<add key="277" value="AddAllDef"/>
	<add key="276" value="AddAllOff"/>
	<add key="319" value="XPModifier"/>
	<add key="278" value="ProjectileDamageModifier"/>
	<add key="281" value="ChemicalDamageModifier"/>
	<add key="282" value="RadiationDamageModifier"/>
	<add key="317" value="PoisonDamageModifier"/>
	<add key="279" value="MeleeDamageModifier"/>
	<add key="280" value="EnergyDamageModifier"/>
	<add key="311" value="ColdDamageModifier"/>
	<add key="316" value="FireDamageModifier"/>
	<add key="136" value="Perception"/>
	<add key="164" value="Concealment"/>
	<add key="226" value="ShieldProjectileAC"/>
	<add key="229" value="ShieldChemicalAC"/>
	<add key="230" value="ShieldRadiationAC"/>
	<add key="234" value="ShieldPoisonAC"/>
	<add key="232" value="ShieldNanoAC"/>
	<add key="227" value="ShieldMeleeAC"/>
	<add key="228" value="ShieldEnergyAC"/>
	<add key="231" value="ShieldColdAC"/>
	<add key="233" value="ShieldFireAC"/>
	<add key="475" value="MaxReflectedProjectileDmg"/>
	<add key="205" value="ReflectProjectileAC"/>
	<add key="208" value="ReflectChemicalAC"/>
	<add key="216" value="ReflectRadiationAC"/>
	<add key="225" value="ReflectPoisonAC"/>
	<add key="478" value="MaxReflectedChemicalDmg"/>
	<add key="479" value="MaxReflectedRadiationDmg"/>
	<add key="483" value="MaxReflectedPoisonDmg"/>
	<add key="481" value="MaxReflectedNanoDmg"/>
	<add key="218" value="ReflectNanoAC"/>
	<add key="476" value="MaxReflectedMeleeDmg"/>
	<add key="206" value="ReflectMeleeAC"/>
	<add key="477" value="MaxReflectedEnergyDmg"/>
	<add key="207" value="ReflectEnergyAC"/>
	<add key="482" value="MaxReflectedFireDmg"/>
	<add key="480" value="MaxReflectedColdDmg"/>
	<add key="219" value="ReflectFireAC"/>
	<add key="217" value="ReflectColdAC"/>
	<add key="380" value="WeaponRange"/>
	<add key="118" value="MeleeInit."/>
	<add key="119" value="RangedInit."/>
	<add key="120" value="PhysicalInit."/>
	<add key="151" value="AimedShot"/>
	<add key="379" value="CriticalIncrease"/>
	<add key="383" value="InterruptModifier"/>
	<add key="381" value="NanoRange"/>
	<add key="149" value="NanoC.Init"/>
	<add key="138" value="Swimming"/>
	<add key="16" value="Strength"/>
	<add key="168" value="NanoResist"/>
	<add key="160" value="NanoProgramming"/>
	<add key="161" value="ComputerLiteracy"/>
	<add key="27" value="Health"/>
	<add key="343" value="HealDelta"/>
	<add key="364" value="NanoDelta"/>
	<add key="108" value="SharpObject"/>
	<add key="101" value="MultiMelee"/>
	<add key="113" value="Rifle"/>
	<add key="135" value="TrapDisarm"/>
	<add key="117" value="VehicleWater"/>
	<add key="139" value="VehicleAir"/>
	<add key="102" value="1hBlunt"/>
	<add key="107" value="2hBlunt"/>
	<add key="142" value="Brawl"/>
	<add key="104" value="MeleeEnergy"/>
	<add key="100" value="MartialArts"/>
	<add key="147" value="FastAttack"/>
	<add key="126" value="ElectricalEngineering"/>
	<add key="140" value="MapNavigation"/>
	<add key="141" value="Tutoring"/>
	<add key="109" value="Grenade"/>
	<add key="110" value="HeavyWeapons"/>
	<add key="122" value="SensoryImprovement"/>
	<add key="125" value="MechanicalEngineering"/>
	<add key="129" value="PsychologicalModification"/>
	<add key="133" value="RangedEnergy"/>
	<add key="157" value="QuantumFT"/>
	<add key="159" value="Pharmaceuticals"/>
	<add key="163" value="Chemistry"/>
	<add key="166" value="VehicleGround"/>
	<add key="19" value="Intelligence"/>
	<add key="111" value="Bow"/>
	<add key="112" value="Pistol"/>
	<add key="116" value="AssaultRifle"/>
	<add key="130" value="MaterialCreation"/>
	<add key="131" value="SpaceTime"/>
	<add key="134" value="MultiRanged"/>
	<add key="146" value="SneakAttack"/>
	<add key="158" value="WeaponSmithing"/>
	<add key="162" value="Psychology"/>
	<add key="121" value="BowSpecialAttack"/>
	<add key="127" value="MaterialMetamorphosis"/>
	<add key="128" value="BiologicalMetamorphosis"/>
	<add key="21" value="Psychic"/>
	<add key="132" value="NanoPool"/>
	<add key="144" value="Dimach"/>
	<add key="20" value="Sense"/>
	<add key="103" value="1hEdged"/>
	<add key="165" value="BreakingEntry"/>
	<add key="167" value="FullAuto"/>
	<add key="148" value="Burst"/>
	<add key="105" value="2hEdged"/>
	<add key="106" value="Piercing"/>
	<add key="114" value="MG/SMG"/>
	<add key="115" value="Shotgun"/>
	<add key="150" value="FlingShot"/>
	<add key="143" value="Riposte"/>
	<add key="145" value="Parry"/>
	<add key="152" value="BodyDevelopment"/>
	<add key="18" value="Stamina"/>
	<add key="17" value="Agility"/>
	<add key="51" value="AggDef"/>
	<add key="26" value="Energy"/>
	<add key="382" value="SkillLockModifier"/>
	<add key="391" value="CritialResistance"/>
	<add key="532" value="ShadowBreed"/>
	<add key="536" value="NanoDamageMultiplier"/>
	<add key="535" value="HealMultiplier"/>
	<add key="593" value="RegainXPPercentage"/>
	<add key="315" value="NanoDamageModifier"/>
	<add key="22" value="AMS"/>
	<add key="659" value="DamageToNano"/>
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
  	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	<requiredRuntime version="v4.0.20506" />
  </startup>
</configuration>